<a href="https://colab.research.google.com/github/kyohei-123/kaggle-m5accuracy/blob/master/Kaggle_M5Accuracy_r0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Walmartの売上予測にチャレンジ！
https://www.kaggle.com/c/m5-forecasting-accuracy/overview

# 環境設定

In [13]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

## Google Driveのマウント

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Kaggleからデータのダウンロード（未実施の場合）

### Kaggle APIのインストールとversionのアップデート

In [ ]:
!pip install kaggle
!pip install --upgrade --force-reinstall --no-deps kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.10)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Collecting kaggle
  Downloading https://files.pythonhosted.org/packages/99/33/365c0d13f07a2a54744d027fe20b60dacdfdfb33bc04746db6ad0b79340b/kaggle-1.5.10.tar.gz (59kB)
     |████████████████████████████████| 61kB 3.4MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.10-cp36-none-any.whl size=73269 sha256=38c9cb0afebaf015bda4d047927dcc7b5be3881c530d8dfe85b1c1f4eae7e7a3
  Stored in directory: /root/.cache/pip/wheels/3a/d1/7e/6ce09b72b770149802c653a02783821629146983ee5a360f10
Successfully built kaggle
Installing collected packages: kaggle
  Found existing installation: kaggle 1.5.10
    Uninstalling kaggle-1.5.10:
      Successfully uninstalled kaggle-1.5.10
Successfully installed kaggle-1.5.10

### Kaggle APIの認証
事前にトークン"kaggle.json"を取得し、/content/.kaggle/に保管する

In [ ]:
from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth

auth.authenticate_user()

drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])

filename = "/root/.kaggle/kaggle.json"
os.makedirs(os.path.dirname(filename), exist_ok=True)

request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

Download 100%.

In [ ]:
!kaggle competitions list

ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes        109           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        221           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        441           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       2996           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      23518            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       6273            True
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        550           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       1638           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      10210            True
vinbigdata-chest-xray-abnormalities-detection  2021-03-30 23:59:00  Featured           $50,000        393           False
hubmap-kidney-segmentation                     2021-03-25 23:59:00  Research           $60,000        908           False
ranzcr-clip-catheter-line-classification       2021-03-15 23:59:00  Featured           $50,000        594           False
jane-street-market-prediction                  2021-02-22 23:59:00  Featured          $100,000       3072            True
cassava-leaf-disease-classification            2021-02-18 23:59:00  Research           $18,000       3105           False
rfcx-species-audio-detection                   2021-02-17 23:59:00  Research           $15,000        929           False
acea-water-prediction                          2021-02-17 23:59:00  Analytics          $25,000          0           False
rock-paper-scissors                            2021-02-01 23:59:00  Playground          Prizes       1578           False
santa-2020                                     2021-02-01 23:59:00  Featured            Prizes        773           False
tabular-playground-series-jan-2021             2021-01-31 23:59:00  Playground            Swag       1437           False
nfl-big-data-bowl-2021                         2021-01-07 23:59:00  Analytics         $100,000          0           False

### Kaggleのデータをダウンロード

In [ ]:
!kaggle competitions download -c m5-forecasting-accuracy

Downloading m5-forecasting-accuracy.zip to /content
 74% 34.0M/45.8M [00:00<00:00, 91.5MB/s]
100% 45.8M/45.8M [00:00<00:00, 177MB/s]

In [ ]:
!mkdir -p kaggle/m5-accuracy
!mv /content/m5-forecasting-accuracy.zip kaggle/m5-accuracy/

In [ ]:
%cd /content/kaggle/m5-accuracy/
!unzip m5-forecasting-accuracy.zip

/content/kaggle/m5-accuracy
Archive:  m5-forecasting-accuracy.zip
  inflating: calendar.csv
  inflating: sales_train_evaluation.csv
  inflating: sales_train_validation.csv
  inflating: sample_submission.csv
  inflating: sell_prices.csv

In [ ]:
ls -l /content/kaggle/m5-accuracy/

total 486808
-rw-r--r-- 1 root root    103469 Jun  1  2020 calendar.csv
-rw-r--r-- 1 root root  48009163 Jan 25 12:17 m5-forecasting-accuracy.zip
-rw-r--r-- 1 root root 121736518 Jun  1  2020 sales_train_evaluation.csv
-rw-r--r-- 1 root root 120007726 Jun  1  2020 sales_train_validation.csv
-rw-r--r-- 1 root root   5228786 Jun  1  2020 sample_submission.csv
-rw-r--r-- 1 root root 203395785 Jun  1  2020 sell_prices.csv

### Google cloud storage APIの認証

In [ ]:
from google.colab import auth
auth.authenticate_user()
project_id = 'kaggle-299711'
!gcloud config set project {project_id}
!gsutil ls

Updated property [core/project].
gs://kyohei-kaggle/

### Google DriveのデータをStorageにコピー
コピーしたら、bigqueryから読み込んでテーブルを作成する。

In [ ]:
bucket_name = 'kyohei-kaggle'
!gsutil -m cp -r /content/kaggle/jane-street-market-prediction/* gs://{bucket_name}/

CommandException: No URLs matched: /content/kaggle/jane-street-market-prediction/*
CommandException: 1 file/object could not be transferred.

In [ ]:
!gsutil ls gs://kyohei-kaggle/

gs://kyohei-kaggle/example_sample_submission.csv
gs://kyohei-kaggle/example_test.csv
gs://kyohei-kaggle/features.csv
gs://kyohei-kaggle/jane-street-market-prediction.zip
gs://kyohei-kaggle/train.csv
gs://kyohei-kaggle/janestreet/

### Google Driveの一時データをセッションが切れても失われないよう場所に保管する。

In [ ]:
mv /content/kaggle/m5-accuracy/* /content/drive/MyDrive/work/project/kaggle/m5-accuracy/

# データ読み込み

## Bigqueryからデータを読み込む場合

In [ ]:
from google.cloud import bigquery

project_id = "kaggle-299711"

client = bigquery.Client(project=project_id)


# myquery3 = """
#         SELECT date, count(1) as count
#         FROM `janeMarket.train`
#         GROUP BY date
#         order by date
#         """

myquery1 = """
        SELECT *
        FROM `janeMarket.train`
        where date > 300
        order by ts_id asc
        """

df_train = client.query(myquery1).to_dataframe()



# for i in range(130):
#     myquery = """
#             SELECT date, AVG(feature_{}) as  feature_{}
#             FROM `janeMarket.train`
#             GROUP BY date
#             order by date
#             """.format(i,i)
#     df_tmp = client.query(myquery).to_dataframe()
#     df_daymean2 = pd.merge(df_daymean2,df_tmp,how='inner',on='date')

In [ ]:
df_train.head()

   date     weight    resp_1  ...  feature_128  feature_129    ts_id
0   491   0.116804  0.000218  ...    -0.884363     1.673531  2339879
1   491   5.421101 -0.003906  ...     2.192229     7.274798  2339880
2   491  26.170563 -0.001829  ...    -1.676284     0.946601  2339881
3   491  38.092943 -0.000495  ...    -2.010991     2.652555  2339882
4   491   0.326744  0.002804  ...     0.826454     0.914988  2339883

[5 rows x 138 columns]

## cloud上のcsvからデータを読み込む場合

In [ ]:
!ls /content/drive/MyDrive/work/project/kaggle/m5-accuracy/

calendar.csv		     sales_train_evaluation.csv  sample_submission.csv
m5-forecasting-accuracy.zip  sales_train_validation.csv  sell_prices.csv

In [3]:
df_train = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sales_train_validation.csv')
df_cal = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/calendar.csv')
df_sample = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sample_submission.csv')
df_price= pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sell_prices.csv')
df_eval = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sales_train_evaluation.csv')

In [5]:
df_train.head()

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4

[5 rows x 1919 columns]

In [ ]:
df_eval.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [ ]:
print(df_cal.shape)
print(df_train.shape)

(1969, 14)
(30490, 1919)

In [ ]:
df_sample

                                  id  F1  F2  F3  F4  ...  F24  F25  F26  F27  F28
0      HOBBIES_1_001_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
1      HOBBIES_1_002_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
2      HOBBIES_1_003_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
3      HOBBIES_1_004_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
4      HOBBIES_1_005_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
...                              ...  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
60975    FOODS_3_823_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60976    FOODS_3_824_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60977    FOODS_3_825_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60978    FOODS_3_826_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60979    FOODS_3_827_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0

[60980 rows x 29 columns]

In [ ]:
df_train

                                     item_id    dept_id  ... d_1912 d_1913
id                                                       ...
HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  ...      1      1
HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  ...      0      0
HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  ...      1      1
HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  ...      7      2
HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  ...      2      4
...                                      ...        ...  ...    ...    ...
FOODS_3_823_WI_3_validation      FOODS_3_823    FOODS_3  ...      0      1
FOODS_3_824_WI_3_validation      FOODS_3_824    FOODS_3  ...      1      0
FOODS_3_825_WI_3_validation      FOODS_3_825    FOODS_3  ...      1      0
FOODS_3_826_WI_3_validation      FOODS_3_826    FOODS_3  ...      1      3
FOODS_3_827_WI_3_validation      FOODS_3_827    FOODS_3  ...      0      0

[30490 rows x 1918 columns]

In [ ]:
df_eval

                                  id        item_id  ... d_1940 d_1941
0      HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1      HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2      HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3      HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4      HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0
...                              ...            ...  ...    ...    ...
30485    FOODS_3_823_WI_3_evaluation    FOODS_3_823  ...      1      1
30486    FOODS_3_824_WI_3_evaluation    FOODS_3_824  ...      1      0
30487    FOODS_3_825_WI_3_evaluation    FOODS_3_825  ...      0      2
30488    FOODS_3_826_WI_3_evaluation    FOODS_3_826  ...      1      0
30489    FOODS_3_827_WI_3_evaluation    FOODS_3_827  ...      5      1

[30490 rows x 1947 columns]

In [ ]:
item = 'HOBBIES_1_001_CA_1_validation'

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1

[1 rows x 1919 columns]

In [ ]:
df_train.head(10

                                     item_id    dept_id  ... d_1912 d_1913
id                                                       ...
HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  ...      1      1
HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  ...      0      0
HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  ...      1      1
HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  ...      7      2
HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  ...      2      4
HOBBIES_1_006_CA_1_validation  HOBBIES_1_006  HOBBIES_1  ...      0      0
HOBBIES_1_007_CA_1_validation  HOBBIES_1_007  HOBBIES_1  ...      1      1
HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  HOBBIES_1  ...      2      1
HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  HOBBIES_1  ...      0      0
HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  HOBBIES_1  ...      0      2

[10 rows x 1918 columns]

In [ ]:
df_train[df_train['id']==item]

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1

[1 rows x 1919 columns]

In [14]:
### ベースラインスコアの確認
### 訓練データの最後の２８日間をそのまま予測に使う

y_pred = df_train.iloc[:,-28:]
y_eval = df_eval.iloc[:,-28:]

### スコア簡易評価関数
print(f"ベースラインスコア")
mean_squared_error(y_pred, y_eval)

ベースラインスコア

8.004191069671554

In [42]:
### データフレームを倒置して使いやすくする

def transpose_df_day2id(df):
  cols_day = [col for col in df.columns if "d_" in col]
  cols_id = df["id"]
  df = df.transpose()
  df = df.loc[cols_day]
  df.columns = cols_id
  return df

In [58]:
df_train_t = transpose_df_day2id(df_train)

In [61]:
### 欠損値を確認
df_train_t.isna().any().sum()

0

In [ ]:
### ベースラインスコアその２
### 移動平均値で予測する。

def func_rolling_mean(df):
  day_periods = 7
  return df.iloc[-day_periods:, : ].rolling(window=day_periods, min_periods=1).mean().iloc[-1:,:]


day_last = df_train_t.index[-1]
day_last = int(day_last.replace("d_",""))
for i in range(28):
  col = "d_" + f"{day_last+i+1:0=4d}"
  print(col)
  df_train_t.append([func_rolling_mean(df_train_t)])

In [167]:
### ベースラインスコアその２
### 移動平均値で予測する。

def func_rolling_mean(df):
  day_periods = 7
  return df.rolling(window=day_periods, min_periods=1).mean().iloc[-1:,:]

df_roll = func_rolling_mean(df_train_t)
df_roll = df_roll.append([rolling_mean_last]*27,ignore_index=True)

In [169]:
y_pred = df_roll.transpose()

In [170]:
### スコア簡易評価関数
print(f"ベースラインスコア")
mean_squared_error(y_pred, y_eval)

ベースラインスコア

5.056544802243558

## データ読み込みと前前処理

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2390491 entries, 0 to 2390490
Columns: 138 entries, date to ts_id
dtypes: float64(135), int64(3)
memory usage: 2.5 GB

## Pickle形式で保存・読み込み

In [ ]:
import pickle

# # df・・・Pickleにしたいオブジェクト

# # Pickleとして出力
# with open('/content/drive/MyDrive/work/project/kaggle/JaneStreet/df_train.pickle', 'wb') as f:
#     pickle.dump(df_train, f, protocol=4)

In [ ]:
import pickle

# # Piclkleを読み込み
# with open('/content/drive/MyDrive/work/project/kaggle/JaneStreet/df_train.pickle', 'rb') as f:
#     df_train = pickle.load(f)

## データ分割