<a href="https://colab.research.google.com/github/kyohei-123/kaggle-m5accuracy/blob/master/Kaggle_M5Accuracy_r0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Walmartの売上予測にチャレンジ！
https://www.kaggle.com/c/m5-forecasting-accuracy/overview

# 環境設定

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Google Driveのマウント

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Kaggleからデータのダウンロード（未実施の場合）

### Kaggle APIのインストールとversionのアップデート

In [4]:
!pip install kaggle
!pip install --upgrade --force-reinstall --no-deps kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.10)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Collecting kaggle
  Downloading https://files.pythonhosted.org/packages/99/33/365c0d13f07a2a54744d027fe20b60dacdfdfb33bc04746db6ad0b79340b/kaggle-1.5.10.tar.gz (59kB)
     |████████████████████████████████| 61kB 3.4MB/s
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py) ... done
  Created wheel for kaggle: filename=kaggle-1.5.10-cp36-none-any.whl size=73269 sha256=38c9cb0afebaf015bda4d047927dcc7b5be3881c530d8dfe85b1c1f4eae7e7a3
  Stored in directory: /root/.cache/pip/wheels/3a/d1/7e/6ce09b72b770149802c653a02783821629146983ee5a360f10
Successfully built kaggle
Installing collected packages: kaggle
  Found existing installation: kaggle 1.5.10
    Uninstalling kaggle-1.5.10:
      Successfully uninstalled kaggle-1.5.10
Successfully installed kaggle-1.5.10

### Kaggle APIの認証
事前にトークン"kaggle.json"を取得し、/content/.kaggle/に保管する

In [5]:
from googleapiclient.discovery import build
import io, os
from googleapiclient.http import MediaIoBaseDownload
from google.colab import auth

auth.authenticate_user()

drive_service = build('drive', 'v3')
results = drive_service.files().list(
        q="name = 'kaggle.json'", fields="files(id)").execute()
kaggle_api_key = results.get('files', [])

filename = "/root/.kaggle/kaggle.json"
os.makedirs(os.path.dirname(filename), exist_ok=True)

request = drive_service.files().get_media(fileId=kaggle_api_key[0]['id'])
fh = io.FileIO(filename, 'wb')
downloader = MediaIoBaseDownload(fh, request)
done = False
while done is False:
    status, done = downloader.next_chunk()
    print("Download %d%%." % int(status.progress() * 100))
os.chmod(filename, 600)

Download 100%.

In [6]:
!kaggle competitions list

ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes        109           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        221           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        441           False
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       2996           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      23518            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       6273            True
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        550           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge       1638           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      10210            True
vinbigdata-chest-xray-abnormalities-detection  2021-03-30 23:59:00  Featured           $50,000        393           False
hubmap-kidney-segmentation                     2021-03-25 23:59:00  Research           $60,000        908           False
ranzcr-clip-catheter-line-classification       2021-03-15 23:59:00  Featured           $50,000        594           False
jane-street-market-prediction                  2021-02-22 23:59:00  Featured          $100,000       3072            True
cassava-leaf-disease-classification            2021-02-18 23:59:00  Research           $18,000       3105           False
rfcx-species-audio-detection                   2021-02-17 23:59:00  Research           $15,000        929           False
acea-water-prediction                          2021-02-17 23:59:00  Analytics          $25,000          0           False
rock-paper-scissors                            2021-02-01 23:59:00  Playground          Prizes       1578           False
santa-2020                                     2021-02-01 23:59:00  Featured            Prizes        773           False
tabular-playground-series-jan-2021             2021-01-31 23:59:00  Playground            Swag       1437           False
nfl-big-data-bowl-2021                         2021-01-07 23:59:00  Analytics         $100,000          0           False

### Kaggleのデータをダウンロード

In [8]:
!kaggle competitions download -c m5-forecasting-accuracy

Downloading m5-forecasting-accuracy.zip to /content
 74% 34.0M/45.8M [00:00<00:00, 91.5MB/s]
100% 45.8M/45.8M [00:00<00:00, 177MB/s]

In [13]:
!mkdir -p kaggle/m5-accuracy
!mv /content/m5-forecasting-accuracy.zip kaggle/m5-accuracy/

In [14]:
%cd /content/kaggle/m5-accuracy/
!unzip m5-forecasting-accuracy.zip

/content/kaggle/m5-accuracy
Archive:  m5-forecasting-accuracy.zip
  inflating: calendar.csv
  inflating: sales_train_evaluation.csv
  inflating: sales_train_validation.csv
  inflating: sample_submission.csv
  inflating: sell_prices.csv

In [16]:
ls -l /content/kaggle/m5-accuracy/

total 486808
-rw-r--r-- 1 root root    103469 Jun  1  2020 calendar.csv
-rw-r--r-- 1 root root  48009163 Jan 25 12:17 m5-forecasting-accuracy.zip
-rw-r--r-- 1 root root 121736518 Jun  1  2020 sales_train_evaluation.csv
-rw-r--r-- 1 root root 120007726 Jun  1  2020 sales_train_validation.csv
-rw-r--r-- 1 root root   5228786 Jun  1  2020 sample_submission.csv
-rw-r--r-- 1 root root 203395785 Jun  1  2020 sell_prices.csv

### Google cloud storage APIの認証

In [ ]:
from google.colab import auth
auth.authenticate_user()
project_id = 'kaggle-299711'
!gcloud config set project {project_id}
!gsutil ls

Updated property [core/project].
gs://kyohei-kaggle/

### Google DriveのデータをStorageにコピー
コピーしたら、bigqueryから読み込んでテーブルを作成する。

In [ ]:
bucket_name = 'kyohei-kaggle'
!gsutil -m cp -r /content/kaggle/jane-street-market-prediction/* gs://{bucket_name}/

CommandException: No URLs matched: /content/kaggle/jane-street-market-prediction/*
CommandException: 1 file/object could not be transferred.

In [ ]:
!gsutil ls gs://kyohei-kaggle/

gs://kyohei-kaggle/example_sample_submission.csv
gs://kyohei-kaggle/example_test.csv
gs://kyohei-kaggle/features.csv
gs://kyohei-kaggle/jane-street-market-prediction.zip
gs://kyohei-kaggle/train.csv
gs://kyohei-kaggle/janestreet/

### Google Driveの一時データをセッションが切れても失われないよう場所に保管する。

In [19]:
mv /content/kaggle/m5-accuracy/* /content/drive/MyDrive/work/project/kaggle/m5-accuracy/

# データ読み込み

## Bigqueryからデータを読み込む場合

In [ ]:
from google.cloud import bigquery

project_id = "kaggle-299711"

client = bigquery.Client(project=project_id)


# myquery3 = """
#         SELECT date, count(1) as count
#         FROM `janeMarket.train`
#         GROUP BY date
#         order by date
#         """

myquery1 = """
        SELECT *
        FROM `janeMarket.train`
        where date > 300
        order by ts_id asc
        """

df_train = client.query(myquery1).to_dataframe()



# for i in range(130):
#     myquery = """
#             SELECT date, AVG(feature_{}) as  feature_{}
#             FROM `janeMarket.train`
#             GROUP BY date
#             order by date
#             """.format(i,i)
#     df_tmp = client.query(myquery).to_dataframe()
#     df_daymean2 = pd.merge(df_daymean2,df_tmp,how='inner',on='date')

In [ ]:
df_train.head()

   date     weight    resp_1  ...  feature_128  feature_129    ts_id
0   491   0.116804  0.000218  ...    -0.884363     1.673531  2339879
1   491   5.421101 -0.003906  ...     2.192229     7.274798  2339880
2   491  26.170563 -0.001829  ...    -1.676284     0.946601  2339881
3   491  38.092943 -0.000495  ...    -2.010991     2.652555  2339882
4   491   0.326744  0.002804  ...     0.826454     0.914988  2339883

[5 rows x 138 columns]

## cloud上のcsvからデータを読み込む場合

In [20]:
!ls /content/drive/MyDrive/work/project/kaggle/m5-accuracy/

calendar.csv		     sales_train_evaluation.csv  sample_submission.csv
m5-forecasting-accuracy.zip  sales_train_validation.csv  sell_prices.csv

In [99]:
df_train = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sales_train_validation.csv')
df_cal = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/calendar.csv')
df_sample = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sample_submission.csv')
df_price= pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sell_prices.csv')
df_eval = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/m5-accuracy/sales_train_evaluation.csv')

In [100]:
df_train.head()

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4

[5 rows x 1919 columns]

In [98]:
df_eval.head()

                              id        item_id  ... d_1940 d_1941
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0

[5 rows x 1947 columns]

In [33]:
print(df_cal.shape)
print(df_train.shape)

(1969, 14)
(30490, 1919)

In [82]:
df_sample

                                  id  F1  F2  F3  F4  ...  F24  F25  F26  F27  F28
0      HOBBIES_1_001_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
1      HOBBIES_1_002_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
2      HOBBIES_1_003_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
3      HOBBIES_1_004_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
4      HOBBIES_1_005_CA_1_validation   0   0   0   0  ...    0    0    0    0    0
...                              ...  ..  ..  ..  ..  ...  ...  ...  ...  ...  ...
60975    FOODS_3_823_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60976    FOODS_3_824_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60977    FOODS_3_825_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60978    FOODS_3_826_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0
60979    FOODS_3_827_WI_3_evaluation   0   0   0   0  ...    0    0    0    0    0

[60980 rows x 29 columns]

In [83]:
df_train

                                     item_id    dept_id  ... d_1912 d_1913
id                                                       ...
HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  ...      1      1
HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  ...      0      0
HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  ...      1      1
HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  ...      7      2
HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  ...      2      4
...                                      ...        ...  ...    ...    ...
FOODS_3_823_WI_3_validation      FOODS_3_823    FOODS_3  ...      0      1
FOODS_3_824_WI_3_validation      FOODS_3_824    FOODS_3  ...      1      0
FOODS_3_825_WI_3_validation      FOODS_3_825    FOODS_3  ...      1      0
FOODS_3_826_WI_3_validation      FOODS_3_826    FOODS_3  ...      1      3
FOODS_3_827_WI_3_validation      FOODS_3_827    FOODS_3  ...      0      0

[30490 rows x 1918 columns]

In [91]:
df_eval

                                  id        item_id  ... d_1940 d_1941
0      HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1      HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2      HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3      HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4      HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0
...                              ...            ...  ...    ...    ...
30485    FOODS_3_823_WI_3_evaluation    FOODS_3_823  ...      1      1
30486    FOODS_3_824_WI_3_evaluation    FOODS_3_824  ...      1      0
30487    FOODS_3_825_WI_3_evaluation    FOODS_3_825  ...      0      2
30488    FOODS_3_826_WI_3_evaluation    FOODS_3_826  ...      1      0
30489    FOODS_3_827_WI_3_evaluation    FOODS_3_827  ...      5      1

[30490 rows x 1947 columns]

In [105]:
item = 'HOBBIES_1_001_CA_1_validation'

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1

[1 rows x 1919 columns]

In [69]:
df_train.head(10

                                     item_id    dept_id  ... d_1912 d_1913
id                                                       ...
HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  ...      1      1
HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  ...      0      0
HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  ...      1      1
HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  ...      7      2
HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  ...      2      4
HOBBIES_1_006_CA_1_validation  HOBBIES_1_006  HOBBIES_1  ...      0      0
HOBBIES_1_007_CA_1_validation  HOBBIES_1_007  HOBBIES_1  ...      1      1
HOBBIES_1_008_CA_1_validation  HOBBIES_1_008  HOBBIES_1  ...      2      1
HOBBIES_1_009_CA_1_validation  HOBBIES_1_009  HOBBIES_1  ...      0      0
HOBBIES_1_010_CA_1_validation  HOBBIES_1_010  HOBBIES_1  ...      0      2

[10 rows x 1918 columns]

In [109]:
df_train[df_train['id']==item]

                              id        item_id  ... d_1912 d_1913
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1

[1 rows x 1919 columns]

In [113]:
cols_day = [col for col in df_train.columns if 'd_' in col]

item = 'HOBBIES_1_001_CA_1_validation'

ss = df_train[df_train['id']==item][cols_day].T

In [131]:
df_train

                                  id        item_id  ... d_1912 d_1913
0      HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1      HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2      HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3      HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4      HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4
...                              ...            ...  ...    ...    ...
30485    FOODS_3_823_WI_3_validation    FOODS_3_823  ...      0      1
30486    FOODS_3_824_WI_3_validation    FOODS_3_824  ...      1      0
30487    FOODS_3_825_WI_3_validation    FOODS_3_825  ...      1      0
30488    FOODS_3_826_WI_3_validation    FOODS_3_826  ...      1      3
30489    FOODS_3_827_WI_3_validation    FOODS_3_827  ...      0      0

[30490 rows x 1919 columns]

In [150]:
df_pred = df_train.iloc[:,-28:]
df_pred["id"] = df_train["id"]

In [151]:
df_pred

       d_1886  d_1887  d_1888  ...  d_1912  d_1913                             id
0           1       0       0  ...       1       1  HOBBIES_1_001_CA_1_validation
1           1       0       0  ...       0       0  HOBBIES_1_002_CA_1_validation
2           0       0       0  ...       1       1  HOBBIES_1_003_CA_1_validation
3           0       0       0  ...       7       2  HOBBIES_1_004_CA_1_validation
4           1       0       4  ...       2       4  HOBBIES_1_005_CA_1_validation
...       ...     ...     ...  ...     ...     ...                            ...
30485       0       0       0  ...       0       1    FOODS_3_823_WI_3_validation
30486       0       0       0  ...       1       0    FOODS_3_824_WI_3_validation
30487       1       0       0  ...       1       0    FOODS_3_825_WI_3_validation
30488       3       0       0  ...       1       3    FOODS_3_826_WI_3_validation
30489       7       3       1  ...       0       0    FOODS_3_827_WI_3_validation

[30490 rows x 29 columns]

In [152]:
df_eval.iloc

                                  id        item_id  ... d_1940 d_1941
0      HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  ...      0      1
1      HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  ...      0      0
2      HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  ...      0      1
3      HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  ...      2      6
4      HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  ...      1      0
...                              ...            ...  ...    ...    ...
30485    FOODS_3_823_WI_3_evaluation    FOODS_3_823  ...      1      1
30486    FOODS_3_824_WI_3_evaluation    FOODS_3_824  ...      1      0
30487    FOODS_3_825_WI_3_evaluation    FOODS_3_825  ...      0      2
30488    FOODS_3_826_WI_3_evaluation    FOODS_3_826  ...      1      0
30489    FOODS_3_827_WI_3_evaluation    FOODS_3_827  ...      5      1

[30490 rows x 1947 columns]

In [155]:
mean_squared_error(df_train.iloc[:,-28:], df_eval.iloc[:,-28:])

8.004191069671554

In [156]:
y_pred = df_train.iloc[:,-28:]
y_eval = df_eval.iloc[:,-28:]

In [160]:
y_pred.values - y_eval.values

array([[ 1,  0,  0, ..., -3,  1,  0],
       [ 1, -1,  0, ...,  0,  0,  0],
       [ 0,  0, -1, ..., -2,  1,  0],
       ...,
       [ 1,  0, -1, ..., -1,  1, -2],
       [ 2, -3,  0, ...,  2,  0,  3],
       [ 7,  3,  1, ..., -2, -5, -1]])

In [173]:
np.sum((y_pred.values - y_eval.values)**2)/np.product(y_pred.shape)

8.004191069671554

In [169]:
y_pred.shape

(30490, 28)

In [170]:
30490*28

853720

In [168]:
np.product(y_pred.shape)

853720

In [162]:
y_pred

       d_1886  d_1887  d_1888  d_1889  ...  d_1910  d_1911  d_1912  d_1913
0           1       0       0       0  ...       3       0       1       1
1           1       0       0       0  ...       0       0       0       0
2           0       0       0       0  ...       0       1       1       1
3           0       0       0       0  ...       1       3       7       2
4           1       0       4       4  ...       2       2       2       4
...       ...     ...     ...     ...  ...     ...     ...     ...     ...
30485       0       0       0       0  ...       1       0       0       1
30486       0       0       0       0  ...       0       0       1       0
30487       1       0       0       0  ...       0       0       1       0
30488       3       0       0       0  ...       0       3       1       3
30489       7       3       1       4  ...       0       0       0       0

[30490 rows x 28 columns]

In [164]:
y_eval

       d_1914  d_1915  d_1916  d_1917  ...  d_1938  d_1939  d_1940  d_1941
0           0       0       0       2  ...       3       3       0       1
1           0       1       0       0  ...       0       0       0       0
2           0       0       1       1  ...       2       3       0       1
3           0       0       1       2  ...       3       0       2       6
4           1       0       2       3  ...       0       2       1       0
...       ...     ...     ...     ...  ...     ...     ...     ...     ...
30485       0       0       0       2  ...       0       0       1       1
30486       0       1       1       1  ...       1       0       1       0
30487       0       0       1       1  ...       0       1       0       2
30488       1       3       0       1  ...       1       1       1       0
30489       0       0       0       0  ...       2       2       5       1

[30490 rows x 28 columns]

In [135]:
def get_salesval_coltypes():
    keys = ['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id'] + \
        [f"d_{i}" for i in range(1, 1914)]
    values = ['object', 'category', 'category', 'category', 'category', 'category'] +\
        ["uint16" for i in range(1, 1914)]
    return dict(zip(keys, values))

get_salesval_coltypes()

# submission = pd.read_csv(os.path.join(input_path, 'sample_submission.csv'))
# sales_train_val = pd.read_csv(os.path.join(input_path, 'sales_train_validation.csv'), 
                              # dtype=get_salesval_coltypes())

{'id': 'object',
 'item_id': 'category',
 'dept_id': 'category',
 'cat_id': 'category',
 'store_id': 'category',
 'state_id': 'category',
 'd_1': 'uint16',
 'd_2': 'uint16',
 'd_3': 'uint16',
 'd_4': 'uint16',
 'd_5': 'uint16',
 'd_6': 'uint16',
 'd_7': 'uint16',
 'd_8': 'uint16',
 'd_9': 'uint16',
 'd_10': 'uint16',
 'd_11': 'uint16',
 'd_12': 'uint16',
 'd_13': 'uint16',
 'd_14': 'uint16',
 'd_15': 'uint16',
 'd_16': 'uint16',
 'd_17': 'uint16',
 'd_18': 'uint16',
 'd_19': 'uint16',
 'd_20': 'uint16',
 'd_21': 'uint16',
 'd_22': 'uint16',
 'd_23': 'uint16',
 'd_24': 'uint16',
 'd_25': 'uint16',
 'd_26': 'uint16',
 'd_27': 'uint16',
 'd_28': 'uint16',
 'd_29': 'uint16',
 'd_30': 'uint16',
 'd_31': 'uint16',
 'd_32': 'uint16',
 'd_33': 'uint16',
 'd_34': 'uint16',
 'd_35': 'uint16',
 'd_36': 'uint16',
 'd_37': 'uint16',
 'd_38': 'uint16',
 'd_39': 'uint16',
 'd_40': 'uint16',
 'd_41': 'uint16',
 'd_42': 'uint16',
 'd_43': 'uint16',
 'd_44': 'uint16',
 'd_45': 'uint16',
 'd_46': 'uint16',
 'd_47': 'uint16',
 'd_48': 'uint16',
 'd_49': 'uint16',
 'd_50': 'uint16',
 'd_51': 'uint16',
 'd_52': 'uint16',
 'd_53': 'uint16',
 'd_54': 'uint16',
 'd_55': 'uint16',
 'd_56': 'uint16',
 'd_57': 'uint16',
 'd_58': 'uint16',
 'd_59': 'uint16',
 'd_60': 'uint16',
 'd_61': 'uint16',
 'd_62': 'uint16',
 'd_63': 'uint16',
 'd_64': 'uint16',
 'd_65': 'uint16',
 'd_66': 'uint16',
 'd_67': 'uint16',
 'd_68': 'uint16',
 'd_69': 'uint16',
 'd_70': 'uint16',
 'd_71': 'uint16',
 'd_72': 'uint16',
 'd_73': 'uint16',
 'd_74': 'uint16',
 'd_75': 'uint16',
 'd_76': 'uint16',
 'd_77': 'uint16',
 'd_78': 'uint16',
 'd_79': 'uint16',
 'd_80': 'uint16',
 'd_81': 'uint16',
 'd_82': 'uint16',
 'd_83': 'uint16',
 'd_84': 'uint16',
 'd_85': 'uint16',
 'd_86': 'uint16',
 'd_87': 'uint16',
 'd_88': 'uint16',
 'd_89': 'uint16',
 'd_90': 'uint16',
 'd_91': 'uint16',
 'd_92': 'uint16',
 'd_93': 'uint16',
 'd_94': 'uint16',
 'd_95': 'uint16',
 'd_96': 'uint16',
 'd_97': 'uint16',
 'd_98': 'uint16',
 'd_99': 'uint16',
 'd_100': 'uint16',
 'd_101': 'uint16',
 'd_102': 'uint16',
 'd_103': 'uint16',
 'd_104': 'uint16',
 'd_105': 'uint16',
 'd_106': 'uint16',
 'd_107': 'uint16',
 'd_108': 'uint16',
 'd_109': 'uint16',
 'd_110': 'uint16',
 'd_111': 'uint16',
 'd_112': 'uint16',
 'd_113': 'uint16',
 'd_114': 'uint16',
 'd_115': 'uint16',
 'd_116': 'uint16',
 'd_117': 'uint16',
 'd_118': 'uint16',
 'd_119': 'uint16',
 'd_120': 'uint16',
 'd_121': 'uint16',
 'd_122': 'uint16',
 'd_123': 'uint16',
 'd_124': 'uint16',
 'd_125': 'uint16',
 'd_126': 'uint16',
 'd_127': 'uint16',
 'd_128': 'uint16',
 'd_129': 'uint16',
 'd_130': 'uint16',
 'd_131': 'uint16',
 'd_132': 'uint16',
 'd_133': 'uint16',
 'd_134': 'uint16',
 'd_135': 'uint16',
 'd_136': 'uint16',
 'd_137': 'uint16',
 'd_138': 'uint16',
 'd_139': 'uint16',
 'd_140': 'uint16',
 'd_141': 'uint16',
 'd_142': 'uint16',
 'd_143': 'uint16',
 'd_144': 'uint16',
 'd_145': 'uint16',
 'd_146': 'uint16',
 'd_147': 'uint16',
 'd_148': 'uint16',
 'd_149': 'uint16',
 'd_150': 'uint16',
 'd_151': 'uint16',
 'd_152': 'uint16',
 'd_153': 'uint16',
 'd_154': 'uint16',
 'd_155': 'uint16',
 'd_156': 'uint16',
 'd_157': 'uint16',
 'd_158': 'uint16',
 'd_159': 'uint16',
 'd_160': 'uint16',
 'd_161': 'uint16',
 'd_162': 'uint16',
 'd_163': 'uint16',
 'd_164': 'uint16',
 'd_165': 'uint16',
 'd_166': 'uint16',
 'd_167': 'uint16',
 'd_168': 'uint16',
 'd_169': 'uint16',
 'd_170': 'uint16',
 'd_171': 'uint16',
 'd_172': 'uint16',
 'd_173': 'uint16',
 'd_174': 'uint16',
 'd_175': 'uint16',
 'd_176': 'uint16',
 'd_177': 'uint16',
 'd_178': 'uint16',
 'd_179': 'uint16',
 'd_180': 'uint16',
 'd_181': 'uint16',
 'd_182': 'uint16',
 'd_183': 'uint16',
 'd_184': 'uint16',
 'd_185': 'uint16',
 'd_186': 'uint16',
 'd_187': 'uint16',
 'd_188': 'uint16',
 'd_189': 'uint16',
 'd_190': 'uint16',
 'd_191': 'uint16',
 'd_192': 'uint16',
 'd_193': 'uint16',
 'd_194': 'uint16',
 'd_195': 'uint16',
 'd_196': 'uint16',
 'd_197': 'uint16',
 'd_198': 'uint16',
 'd_199': 'uint16',
 'd_200': 'uint16',
 'd_201': 'uint16',
 'd_202': 'uint16',
 'd_203': 'uint16',
 'd_204': 'uint16',
 'd_205': 'uint16',
 'd_206': 'uint16',
 'd_207': 'uint16',
 'd_208': 'uint16',
 'd_209': 'uint16',
 'd_210': 'uint16',
 'd_211': 'uint16',
 'd_212': 'uint16',
 'd_213': 'uint16',
 'd_214': 'uint16',
 'd_215': 'uint16',
 'd_216': 'uint16',
 'd_217': 'uint16',
 'd_218': 'uint16',
 'd_219': 'uint16',
 'd_220': 'uint16',
 'd_221': 'uint16',
 'd_222': 'uint16',
 'd_223': 'uint16',
 'd_224': 'uint16',
 'd_225': 'uint16',
 'd_226': 'uint16',
 'd_227': 'uint16',
 'd_228': 'uint16',
 'd_229': 'uint16',
 'd_230': 'uint16',
 'd_231': 'uint16',
 'd_232': 'uint16',
 'd_233': 'uint16',
 'd_234': 'uint16',
 'd_235': 'uint16',
 'd_236': 'uint16',
 'd_237': 'uint16',
 'd_238': 'uint16',
 'd_239': 'uint16',
 'd_240': 'uint16',
 'd_241': 'uint16',
 'd_242': 'uint16',
 'd_243': 'uint16',
 'd_244': 'uint16',
 'd_245': 'uint16',
 'd_246': 'uint16',
 'd_247': 'uint16',
 'd_248': 'uint16',
 'd_249': 'uint16',
 'd_250': 'uint16',
 'd_251': 'uint16',
 'd_252': 'uint16',
 'd_253': 'uint16',
 'd_254': 'uint16',
 'd_255': 'uint16',
 'd_256': 'uint16',
 'd_257': 'uint16',
 'd_258': 'uint16',
 'd_259': 'uint16',
 'd_260': 'uint16',
 'd_261': 'uint16',
 'd_262': 'uint16',
 'd_263': 'uint16',
 'd_264': 'uint16',
 'd_265': 'uint16',
 'd_266': 'uint16',
 'd_267': 'uint16',
 'd_268': 'uint16',
 'd_269': 'uint16',
 'd_270': 'uint16',
 'd_271': 'uint16',
 'd_272': 'uint16',
 'd_273': 'uint16',
 'd_274': 'uint16',
 'd_275': 'uint16',
 'd_276': 'uint16',
 'd_277': 'uint16',
 'd_278': 'uint16',
 'd_279': 'uint16',
 'd_280': 'uint16',
 'd_281': 'uint16',
 'd_282': 'uint16',
 'd_283': 'uint16',
 'd_284': 'uint16',
 'd_285': 'uint16',
 'd_286': 'uint16',
 'd_287': 'uint16',
 'd_288': 'uint16',
 'd_289': 'uint16',
 'd_290': 'uint16',
 'd_291': 'uint16',
 'd_292': 'uint16',
 'd_293': 'uint16',
 'd_294': 'uint16',
 'd_295': 'uint16',
 'd_296': 'uint16',
 'd_297': 'uint16',
 'd_298': 'uint16',
 'd_299': 'uint16',
 'd_300': 'uint16',
 'd_301': 'uint16',
 'd_302': 'uint16',
 'd_303': 'uint16',
 'd_304': 'uint16',
 'd_305': 'uint16',
 'd_306': 'uint16',
 'd_307': 'uint16',
 'd_308': 'uint16',
 'd_309': 'uint16',
 'd_310': 'uint16',
 'd_311': 'uint16',
 'd_312': 'uint16',
 'd_313': 'uint16',
 'd_314': 'uint16',
 'd_315': 'uint16',
 'd_316': 'uint16',
 'd_317': 'uint16',
 'd_318': 'uint16',
 'd_319': 'uint16',
 'd_320': 'uint16',
 'd_321': 'uint16',
 'd_322': 'uint16',
 'd_323': 'uint16',
 'd_324': 'uint16',
 'd_325': 'uint16',
 'd_326': 'uint16',
 'd_327': 'uint16',
 'd_328': 'uint16',
 'd_329': 'uint16',
 'd_330': 'uint16',
 'd_331': 'uint16',
 'd_332': 'uint16',
 'd_333': 'uint16',
 'd_334': 'uint16',
 'd_335': 'uint16',
 'd_336': 'uint16',
 'd_337': 'uint16',
 'd_338': 'uint16',
 'd_339': 'uint16',
 'd_340': 'uint16',
 'd_341': 'uint16',
 'd_342': 'uint16',
 'd_343': 'uint16',
 'd_344': 'uint16',
 'd_345': 'uint16',
 'd_346': 'uint16',
 'd_347': 'uint16',
 'd_348': 'uint16',
 'd_349': 'uint16',
 'd_350': 'uint16',
 'd_351': 'uint16',
 'd_352': 'uint16',
 'd_353': 'uint16',
 'd_354': 'uint16',
 'd_355': 'uint16',
 'd_356': 'uint16',
 'd_357': 'uint16',
 'd_358': 'uint16',
 'd_359': 'uint16',
 'd_360': 'uint16',
 'd_361': 'uint16',
 'd_362': 'uint16',
 'd_363': 'uint16',
 'd_364': 'uint16',
 'd_365': 'uint16',
 'd_366': 'uint16',
 'd_367': 'uint16',
 'd_368': 'uint16',
 'd_369': 'uint16',
 'd_370': 'uint16',
 'd_371': 'uint16',
 'd_372': 'uint16',
 'd_373': 'uint16',
 'd_374': 'uint16',
 'd_375': 'uint16',
 'd_376': 'uint16',
 'd_377': 'uint16',
 'd_378': 'uint16',
 'd_379': 'uint16',
 'd_380': 'uint16',
 'd_381': 'uint16',
 'd_382': 'uint16',
 'd_383': 'uint16',
 'd_384': 'uint16',
 'd_385': 'uint16',
 'd_386': 'uint16',
 'd_387': 'uint16',
 'd_388': 'uint16',
 'd_389': 'uint16',
 'd_390': 'uint16',
 'd_391': 'uint16',
 'd_392': 'uint16',
 'd_393': 'uint16',
 'd_394': 'uint16',
 'd_395': 'uint16',
 'd_396': 'uint16',
 'd_397': 'uint16',
 'd_398': 'uint16',
 'd_399': 'uint16',
 'd_400': 'uint16',
 'd_401': 'uint16',
 'd_402': 'uint16',
 'd_403': 'uint16',
 'd_404': 'uint16',
 'd_405': 'uint16',
 'd_406': 'uint16',
 'd_407': 'uint16',
 'd_408': 'uint16',
 'd_409': 'uint16',
 'd_410': 'uint16',
 'd_411': 'uint16',
 'd_412': 'uint16',
 'd_413': 'uint16',
 'd_414': 'uint16',
 'd_415': 'uint16',
 'd_416': 'uint16',
 'd_417': 'uint16',
 'd_418': 'uint16',
 'd_419': 'uint16',
 'd_420': 'uint16',
 'd_421': 'uint16',
 'd_422': 'uint16',
 'd_423': 'uint16',
 'd_424': 'uint16',
 'd_425': 'uint16',
 'd_426': 'uint16',
 'd_427': 'uint16',
 'd_428': 'uint16',
 'd_429': 'uint16',
 'd_430': 'uint16',
 'd_431': 'uint16',
 'd_432': 'uint16',
 'd_433': 'uint16',
 'd_434': 'uint16',
 'd_435': 'uint16',
 'd_436': 'uint16',
 'd_437': 'uint16',
 'd_438': 'uint16',
 'd_439': 'uint16',
 'd_440': 'uint16',
 'd_441': 'uint16',
 'd_442': 'uint16',
 'd_443': 'uint16',
 'd_444': 'uint16',
 'd_445': 'uint16',
 'd_446': 'uint16',
 'd_447': 'uint16',
 'd_448': 'uint16',
 'd_449': 'uint16',
 'd_450': 'uint16',
 'd_451': 'uint16',
 'd_452': 'uint16',
 'd_453': 'uint16',
 'd_454': 'uint16',
 'd_455': 'uint16',
 'd_456': 'uint16',
 'd_457': 'uint16',
 'd_458': 'uint16',
 'd_459': 'uint16',
 'd_460': 'uint16',
 'd_461': 'uint16',
 'd_462': 'uint16',
 'd_463': 'uint16',
 'd_464': 'uint16',
 'd_465': 'uint16',
 'd_466': 'uint16',
 'd_467': 'uint16',
 'd_468': 'uint16',
 'd_469': 'uint16',
 'd_470': 'uint16',
 'd_471': 'uint16',
 'd_472': 'uint16',
 'd_473': 'uint16',
 'd_474': 'uint16',
 'd_475': 'uint16',
 'd_476': 'uint16',
 'd_477': 'uint16',
 'd_478': 'uint16',
 'd_479': 'uint16',
 'd_480': 'uint16',
 'd_481': 'uint16',
 'd_482': 'uint16',
 'd_483': 'uint16',
 'd_484': 'uint16',
 'd_485': 'uint16',
 'd_486': 'uint16',
 'd_487': 'uint16',
 'd_488': 'uint16',
 'd_489': 'uint16',
 'd_490': 'uint16',
 'd_491': 'uint16',
 'd_492': 'uint16',
 'd_493': 'uint16',
 'd_494': 'uint16',
 'd_495': 'uint16',
 'd_496': 'uint16',
 'd_497': 'uint16',
 'd_498': 'uint16',
 'd_499': 'uint16',
 'd_500': 'uint16',
 'd_501': 'uint16',
 'd_502': 'uint16',
 'd_503': 'uint16',
 'd_504': 'uint16',
 'd_505': 'uint16',
 'd_506': 'uint16',
 'd_507': 'uint16',
 'd_508': 'uint16',
 'd_509': 'uint16',
 'd_510': 'uint16',
 'd_511': 'uint16',
 'd_512': 'uint16',
 'd_513': 'uint16',
 'd_514': 'uint16',
 'd_515': 'uint16',
 'd_516': 'uint16',
 'd_517': 'uint16',
 'd_518': 'uint16',
 'd_519': 'uint16',
 'd_520': 'uint16',
 'd_521': 'uint16',
 'd_522': 'uint16',
 'd_523': 'uint16',
 'd_524': 'uint16',
 'd_525': 'uint16',
 'd_526': 'uint16',
 'd_527': 'uint16',
 'd_528': 'uint16',
 'd_529': 'uint16',
 'd_530': 'uint16',
 'd_531': 'uint16',
 'd_532': 'uint16',
 'd_533': 'uint16',
 'd_534': 'uint16',
 'd_535': 'uint16',
 'd_536': 'uint16',
 'd_537': 'uint16',
 'd_538': 'uint16',
 'd_539': 'uint16',
 'd_540': 'uint16',
 'd_541': 'uint16',
 'd_542': 'uint16',
 'd_543': 'uint16',
 'd_544': 'uint16',
 'd_545': 'uint16',
 'd_546': 'uint16',
 'd_547': 'uint16',
 'd_548': 'uint16',
 'd_549': 'uint16',
 'd_550': 'uint16',
 'd_551': 'uint16',
 'd_552': 'uint16',
 'd_553': 'uint16',
 'd_554': 'uint16',
 'd_555': 'uint16',
 'd_556': 'uint16',
 'd_557': 'uint16',
 'd_558': 'uint16',
 'd_559': 'uint16',
 'd_560': 'uint16',
 'd_561': 'uint16',
 'd_562': 'uint16',
 'd_563': 'uint16',
 'd_564': 'uint16',
 'd_565': 'uint16',
 'd_566': 'uint16',
 'd_567': 'uint16',
 'd_568': 'uint16',
 'd_569': 'uint16',
 'd_570': 'uint16',
 'd_571': 'uint16',
 'd_572': 'uint16',
 'd_573': 'uint16',
 'd_574': 'uint16',
 'd_575': 'uint16',
 'd_576': 'uint16',
 'd_577': 'uint16',
 'd_578': 'uint16',
 'd_579': 'uint16',
 'd_580': 'uint16',
 'd_581': 'uint16',
 'd_582': 'uint16',
 'd_583': 'uint16',
 'd_584': 'uint16',
 'd_585': 'uint16',
 'd_586': 'uint16',
 'd_587': 'uint16',
 'd_588': 'uint16',
 'd_589': 'uint16',
 'd_590': 'uint16',
 'd_591': 'uint16',
 'd_592': 'uint16',
 'd_593': 'uint16',
 'd_594': 'uint16',
 'd_595': 'uint16',
 'd_596': 'uint16',
 'd_597': 'uint16',
 'd_598': 'uint16',
 'd_599': 'uint16',
 'd_600': 'uint16',
 'd_601': 'uint16',
 'd_602': 'uint16',
 'd_603': 'uint16',
 'd_604': 'uint16',
 'd_605': 'uint16',
 'd_606': 'uint16',
 'd_607': 'uint16',
 'd_608': 'uint16',
 'd_609': 'uint16',
 'd_610': 'uint16',
 'd_611': 'uint16',
 'd_612': 'uint16',
 'd_613': 'uint16',
 'd_614': 'uint16',
 'd_615': 'uint16',
 'd_616': 'uint16',
 'd_617': 'uint16',
 'd_618': 'uint16',
 'd_619': 'uint16',
 'd_620': 'uint16',
 'd_621': 'uint16',
 'd_622': 'uint16',
 'd_623': 'uint16',
 'd_624': 'uint16',
 'd_625': 'uint16',
 'd_626': 'uint16',
 'd_627': 'uint16',
 'd_628': 'uint16',
 'd_629': 'uint16',
 'd_630': 'uint16',
 'd_631': 'uint16',
 'd_632': 'uint16',
 'd_633': 'uint16',
 'd_634': 'uint16',
 'd_635': 'uint16',
 'd_636': 'uint16',
 'd_637': 'uint16',
 'd_638': 'uint16',
 'd_639': 'uint16',
 'd_640': 'uint16',
 'd_641': 'uint16',
 'd_642': 'uint16',
 'd_643': 'uint16',
 'd_644': 'uint16',
 'd_645': 'uint16',
 'd_646': 'uint16',
 'd_647': 'uint16',
 'd_648': 'uint16',
 'd_649': 'uint16',
 'd_650': 'uint16',
 'd_651': 'uint16',
 'd_652': 'uint16',
 'd_653': 'uint16',
 'd_654': 'uint16',
 'd_655': 'uint16',
 'd_656': 'uint16',
 'd_657': 'uint16',
 'd_658': 'uint16',
 'd_659': 'uint16',
 'd_660': 'uint16',
 'd_661': 'uint16',
 'd_662': 'uint16',
 'd_663': 'uint16',
 'd_664': 'uint16',
 'd_665': 'uint16',
 'd_666': 'uint16',
 'd_667': 'uint16',
 'd_668': 'uint16',
 'd_669': 'uint16',
 'd_670': 'uint16',
 'd_671': 'uint16',
 'd_672': 'uint16',
 'd_673': 'uint16',
 'd_674': 'uint16',
 'd_675': 'uint16',
 'd_676': 'uint16',
 'd_677': 'uint16',
 'd_678': 'uint16',
 'd_679': 'uint16',
 'd_680': 'uint16',
 'd_681': 'uint16',
 'd_682': 'uint16',
 'd_683': 'uint16',
 'd_684': 'uint16',
 'd_685': 'uint16',
 'd_686': 'uint16',
 'd_687': 'uint16',
 'd_688': 'uint16',
 'd_689': 'uint16',
 'd_690': 'uint16',
 'd_691': 'uint16',
 'd_692': 'uint16',
 'd_693': 'uint16',
 'd_694': 'uint16',
 'd_695': 'uint16',
 'd_696': 'uint16',
 'd_697': 'uint16',
 'd_698': 'uint16',
 'd_699': 'uint16',
 'd_700': 'uint16',
 'd_701': 'uint16',
 'd_702': 'uint16',
 'd_703': 'uint16',
 'd_704': 'uint16',
 'd_705': 'uint16',
 'd_706': 'uint16',
 'd_707': 'uint16',
 'd_708': 'uint16',
 'd_709': 'uint16',
 'd_710': 'uint16',
 'd_711': 'uint16',
 'd_712': 'uint16',
 'd_713': 'uint16',
 'd_714': 'uint16',
 'd_715': 'uint16',
 'd_716': 'uint16',
 'd_717': 'uint16',
 'd_718': 'uint16',
 'd_719': 'uint16',
 'd_720': 'uint16',
 'd_721': 'uint16',
 'd_722': 'uint16',
 'd_723': 'uint16',
 'd_724': 'uint16',
 'd_725': 'uint16',
 'd_726': 'uint16',
 'd_727': 'uint16',
 'd_728': 'uint16',
 'd_729': 'uint16',
 'd_730': 'uint16',
 'd_731': 'uint16',
 'd_732': 'uint16',
 'd_733': 'uint16',
 'd_734': 'uint16',
 'd_735': 'uint16',
 'd_736': 'uint16',
 'd_737': 'uint16',
 'd_738': 'uint16',
 'd_739': 'uint16',
 'd_740': 'uint16',
 'd_741': 'uint16',
 'd_742': 'uint16',
 'd_743': 'uint16',
 'd_744': 'uint16',
 'd_745': 'uint16',
 'd_746': 'uint16',
 'd_747': 'uint16',
 'd_748': 'uint16',
 'd_749': 'uint16',
 'd_750': 'uint16',
 'd_751': 'uint16',
 'd_752': 'uint16',
 'd_753': 'uint16',
 'd_754': 'uint16',
 'd_755': 'uint16',
 'd_756': 'uint16',
 'd_757': 'uint16',
 'd_758': 'uint16',
 'd_759': 'uint16',
 'd_760': 'uint16',
 'd_761': 'uint16',
 'd_762': 'uint16',
 'd_763': 'uint16',
 'd_764': 'uint16',
 'd_765': 'uint16',
 'd_766': 'uint16',
 'd_767': 'uint16',
 'd_768': 'uint16',
 'd_769': 'uint16',
 'd_770': 'uint16',
 'd_771': 'uint16',
 'd_772': 'uint16',
 'd_773': 'uint16',
 'd_774': 'uint16',
 'd_775': 'uint16',
 'd_776': 'uint16',
 'd_777': 'uint16',
 'd_778': 'uint16',
 'd_779': 'uint16',
 'd_780': 'uint16',
 'd_781': 'uint16',
 'd_782': 'uint16',
 'd_783': 'uint16',
 'd_784': 'uint16',
 'd_785': 'uint16',
 'd_786': 'uint16',
 'd_787': 'uint16',
 'd_788': 'uint16',
 'd_789': 'uint16',
 'd_790': 'uint16',
 'd_791': 'uint16',
 'd_792': 'uint16',
 'd_793': 'uint16',
 'd_794': 'uint16',
 'd_795': 'uint16',
 'd_796': 'uint16',
 'd_797': 'uint16',
 'd_798': 'uint16',
 'd_799': 'uint16',
 'd_800': 'uint16',
 'd_801': 'uint16',
 'd_802': 'uint16',
 'd_803': 'uint16',
 'd_804': 'uint16',
 'd_805': 'uint16',
 'd_806': 'uint16',
 'd_807': 'uint16',
 'd_808': 'uint16',
 'd_809': 'uint16',
 'd_810': 'uint16',
 'd_811': 'uint16',
 'd_812': 'uint16',
 'd_813': 'uint16',
 'd_814': 'uint16',
 'd_815': 'uint16',
 'd_816': 'uint16',
 'd_817': 'uint16',
 'd_818': 'uint16',
 'd_819': 'uint16',
 'd_820': 'uint16',
 'd_821': 'uint16',
 'd_822': 'uint16',
 'd_823': 'uint16',
 'd_824': 'uint16',
 'd_825': 'uint16',
 'd_826': 'uint16',
 'd_827': 'uint16',
 'd_828': 'uint16',
 'd_829': 'uint16',
 'd_830': 'uint16',
 'd_831': 'uint16',
 'd_832': 'uint16',
 'd_833': 'uint16',
 'd_834': 'uint16',
 'd_835': 'uint16',
 'd_836': 'uint16',
 'd_837': 'uint16',
 'd_838': 'uint16',
 'd_839': 'uint16',
 'd_840': 'uint16',
 'd_841': 'uint16',
 'd_842': 'uint16',
 'd_843': 'uint16',
 'd_844': 'uint16',
 'd_845': 'uint16',
 'd_846': 'uint16',
 'd_847': 'uint16',
 'd_848': 'uint16',
 'd_849': 'uint16',
 'd_850': 'uint16',
 'd_851': 'uint16',
 'd_852': 'uint16',
 'd_853': 'uint16',
 'd_854': 'uint16',
 'd_855': 'uint16',
 'd_856': 'uint16',
 'd_857': 'uint16',
 'd_858': 'uint16',
 'd_859': 'uint16',
 'd_860': 'uint16',
 'd_861': 'uint16',
 'd_862': 'uint16',
 'd_863': 'uint16',
 'd_864': 'uint16',
 'd_865': 'uint16',
 'd_866': 'uint16',
 'd_867': 'uint16',
 'd_868': 'uint16',
 'd_869': 'uint16',
 'd_870': 'uint16',
 'd_871': 'uint16',
 'd_872': 'uint16',
 'd_873': 'uint16',
 'd_874': 'uint16',
 'd_875': 'uint16',
 'd_876': 'uint16',
 'd_877': 'uint16',
 'd_878': 'uint16',
 'd_879': 'uint16',
 'd_880': 'uint16',
 'd_881': 'uint16',
 'd_882': 'uint16',
 'd_883': 'uint16',
 'd_884': 'uint16',
 'd_885': 'uint16',
 'd_886': 'uint16',
 'd_887': 'uint16',
 'd_888': 'uint16',
 'd_889': 'uint16',
 'd_890': 'uint16',
 'd_891': 'uint16',
 'd_892': 'uint16',
 'd_893': 'uint16',
 'd_894': 'uint16',
 'd_895': 'uint16',
 'd_896': 'uint16',
 'd_897': 'uint16',
 'd_898': 'uint16',
 'd_899': 'uint16',
 'd_900': 'uint16',
 'd_901': 'uint16',
 'd_902': 'uint16',
 'd_903': 'uint16',
 'd_904': 'uint16',
 'd_905': 'uint16',
 'd_906': 'uint16',
 'd_907': 'uint16',
 'd_908': 'uint16',
 'd_909': 'uint16',
 'd_910': 'uint16',
 'd_911': 'uint16',
 'd_912': 'uint16',
 'd_913': 'uint16',
 'd_914': 'uint16',
 'd_915': 'uint16',
 'd_916': 'uint16',
 'd_917': 'uint16',
 'd_918': 'uint16',
 'd_919': 'uint16',
 'd_920': 'uint16',
 'd_921': 'uint16',
 'd_922': 'uint16',
 'd_923': 'uint16',
 'd_924': 'uint16',
 'd_925': 'uint16',
 'd_926': 'uint16',
 'd_927': 'uint16',
 'd_928': 'uint16',
 'd_929': 'uint16',
 'd_930': 'uint16',
 'd_931': 'uint16',
 'd_932': 'uint16',
 'd_933': 'uint16',
 'd_934': 'uint16',
 'd_935': 'uint16',
 'd_936': 'uint16',
 'd_937': 'uint16',
 'd_938': 'uint16',
 'd_939': 'uint16',
 'd_940': 'uint16',
 'd_941': 'uint16',
 'd_942': 'uint16',
 'd_943': 'uint16',
 'd_944': 'uint16',
 'd_945': 'uint16',
 'd_946': 'uint16',
 'd_947': 'uint16',
 'd_948': 'uint16',
 'd_949': 'uint16',
 'd_950': 'uint16',
 'd_951': 'uint16',
 'd_952': 'uint16',
 'd_953': 'uint16',
 'd_954': 'uint16',
 'd_955': 'uint16',
 'd_956': 'uint16',
 'd_957': 'uint16',
 'd_958': 'uint16',
 'd_959': 'uint16',
 'd_960': 'uint16',
 'd_961': 'uint16',
 'd_962': 'uint16',
 'd_963': 'uint16',
 'd_964': 'uint16',
 'd_965': 'uint16',
 'd_966': 'uint16',
 'd_967': 'uint16',
 'd_968': 'uint16',
 'd_969': 'uint16',
 'd_970': 'uint16',
 'd_971': 'uint16',
 'd_972': 'uint16',
 'd_973': 'uint16',
 'd_974': 'uint16',
 'd_975': 'uint16',
 'd_976': 'uint16',
 'd_977': 'uint16',
 'd_978': 'uint16',
 'd_979': 'uint16',
 'd_980': 'uint16',
 'd_981': 'uint16',
 'd_982': 'uint16',
 'd_983': 'uint16',
 'd_984': 'uint16',
 'd_985': 'uint16',
 'd_986': 'uint16',
 'd_987': 'uint16',
 'd_988': 'uint16',
 'd_989': 'uint16',
 'd_990': 'uint16',
 'd_991': 'uint16',
 'd_992': 'uint16',
 'd_993': 'uint16',
 'd_994': 'uint16',
 ...}

In [133]:
from sklearn.metrics import mean_squared_error
mean_squared_error()

Help on function mean_squared_error in module sklearn.metrics._regression:

mean_squared_error(y_true, y_pred, sample_weight=None, multioutput='uniform_average', squared=True)
    Mean squared error regression loss

    Read more in the :ref:`User Guide <mean_squared_error>`.

    Parameters
    ----------
    y_true : array-like of shape (n_samples,) or (n_samples, n_outputs)
        Ground truth (correct) target values.

    y_pred : array-like of shape (n_samples,) or (n_samples, n_outputs)
        Estimated target values.

    sample_weight : array-like of shape (n_samples,), optional
        Sample weights.

    multioutput : string in ['raw_values', 'uniform_average']
        or array-like of shape (n_outputs)
        Defines aggregating of multiple output values.
        Array-like value defines weights used to average errors.

        'raw_values' :
            Returns a full set of errors in case of multioutput input.

        'uniform_average' :
            Errors of all outputs are averaged with uniform weight.

    squared : boolean value, optional (default = True)
        If True returns MSE value, if False returns RMSE value.

    Returns
    -------
    loss : float or ndarray of floats
        A non-negative floating point value (the best value is 0.0), or an
        array of floating point values, one for each individual target.

    Examples
    --------
    >>> from sklearn.metrics import mean_squared_error
    >>> y_true = [3, -0.5, 2, 7]
    >>> y_pred = [2.5, 0.0, 2, 8]
    >>> mean_squared_error(y_true, y_pred)
    0.375
    >>> y_true = [3, -0.5, 2, 7]
    >>> y_pred = [2.5, 0.0, 2, 8]
    >>> mean_squared_error(y_true, y_pred, squared=False)
    0.612...
    >>> y_true = [[0.5, 1],[-1, 1],[7, -6]]
    >>> y_pred = [[0, 2],[-1, 2],[8, -5]]
    >>> mean_squared_error(y_true, y_pred)
    0.708...
    >>> mean_squared_error(y_true, y_pred, multioutput='raw_values')
    array([0.41666667, 1.        ])
    >>> mean_squared_error(y_true, y_pred, multioutput=[0.3, 0.7])
    0.825...

In [130]:
ss.rolling(window=7,min_periods=1).mean()

               0
d_1     0.000000
d_2     0.000000
d_3     0.000000
d_4     0.000000
d_5     0.000000
...          ...
d_1909  1.142857
d_1910  1.428571
d_1911  1.285714
d_1912  1.000000
d_1913  1.142857

[1913 rows x 1 columns]

In [117]:
ss.values

array([[0],
       [0],
       [0],
       ...,
       [0],
       [1],
       [1]])

In [60]:
df_train.set_index("id")

                                     item_id    dept_id  ... d_1912 d_1913
id                                                       ...
HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  ...      1      1
HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  ...      0      0
HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  ...      1      1
HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  ...      7      2
HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  ...      2      4
...                                      ...        ...  ...    ...    ...
FOODS_3_823_WI_3_validation      FOODS_3_823    FOODS_3  ...      0      1
FOODS_3_824_WI_3_validation      FOODS_3_824    FOODS_3  ...      1      0
FOODS_3_825_WI_3_validation      FOODS_3_825    FOODS_3  ...      1      0
FOODS_3_826_WI_3_validation      FOODS_3_826    FOODS_3  ...      1      3
FOODS_3_827_WI_3_validation      FOODS_3_827    FOODS_3  ...      0      0

[30490 rows x 1918 columns]

In [ ]:
## 時系列なので、順番を念の為確認
df_train.sort_values(by="ts_id",inplace=True)

In [ ]:
df_test = pd.read_csv('/content/drive/MyDrive/work/project/kaggle/JaneStreet/example_test.csv')

In [ ]:
df_test.head()

      weight  feature_0  feature_1  ...  feature_129  date  ts_id
0   0.000000          1  -1.872746  ...    11.445807     0      0
1  16.673515         -1  -1.349537  ...     1.898684     0      1
2   0.000000         -1   0.812780  ...     9.427299     0      2
3   0.000000         -1   1.174378  ...     1.013469     0      3
4   0.138531          1  -3.172026  ...     3.926633     0      4

[5 rows x 133 columns]

In [ ]:
## 時系列なので、順番を念の為確認
df_test.sort_values(by="ts_id",inplace=True)

## データ読み込みと前前処理

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2390491 entries, 0 to 2390490
Columns: 138 entries, date to ts_id
dtypes: float64(135), int64(3)
memory usage: 2.5 GB

In [ ]:
## データ圧縮参考
## https://www.kaggle.com/muhammadmelsherbini/jane-street-extensive-eda-pca-starter

import gc

df_train.feature_0 = df_train.feature_0.astype(np.int8)
df_train.date= df_train.date.astype(np.int16)
df_train.ts_id = df_train.ts_id.astype(np.int32)
for i in df_train:
    if df_train[i].dtype == np.float64:
        if (((df_train[i] < .0001) & (df_train[i] > -.0001)).mean()) < .001:
            df_train[i] = df_train[i].astype(np.float32)
            gc.collect();

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2390491 entries, 0 to 2390490
Columns: 138 entries, date to ts_id
dtypes: float32(129), float64(6), int16(1), int32(1), int8(1)
memory usage: 1.3 GB

In [ ]:
## 参考
## https://www.kaggle.com/harshitt21/jane-street-basic-eda-xgb-baseline

## 便宜上weightがない場合を0で埋めているため、weight=0であるものは訓練データから除外する。

df_train = df_train[df_train["weight"]!=0]

In [ ]:
## リターン(resp)が存在するとき、取引があったとみなし、action=1とする。

df_train.loc[:,"action"] = 0
df_train.loc[:,"action"] = (df_train["resp"]>0).astype(int)

## Pickle形式で保存・読み込み

In [ ]:
import pickle

# # df・・・Pickleにしたいオブジェクト

# # Pickleとして出力
# with open('/content/drive/MyDrive/work/project/kaggle/JaneStreet/df_train.pickle', 'wb') as f:
#     pickle.dump(df_train, f, protocol=4)

In [ ]:
import pickle

# Piclkleを読み込み
with open('/content/drive/MyDrive/work/project/kaggle/JaneStreet/df_train.pickle', 'rb') as f:
    df_train = pickle.load(f)

In [ ]:
## SAVE
# df_raw = df_train.copy()

In [ ]:
## 復活
# df_train = df_raw.copy()

## データ分割